# Database
DATA_SIZE=1k
CHUNK_SIZE=200 """Ici inutile"""
LOCATION=local

# Cloud Storage
BUCKET_NAME=speech-emotion-bucket

# Model training
BATCH_SIZE = 200

# GCP Virtual machine
GCP_REGION=europe-west1
INSTANCE=ser-instance '''Ne sera pertinent que le j de la création de la machine'''

# Docker:
PORT=8000
GAR_IMAGE=ser
GAR_MEMORY=2Gi
